<p>
  <b>Rails.application.config.assets:</b><br>
  <%= p Rails.application.config.assets %>
</p>

<% if Rails.application.config.assets.enabled %>
  <p>
    Assets are enabled.
  </p>
<% else %>
  <p>
    Assets are <i>not</i> enabled.
  </p>
<% end %>
